# HDFS Gateway Configuration

# HDFS Server URI (Optional default name node URI)
HDFS_URI=hdfs://localhost:9000

# Base HDFS upload folder
HDFS_UPLOAD_PATH=/user/suveer/hdfs-gateway/uploads

# Maximum upload file size in bytes (Default: 50MB = 52428800 bytes)
MAX_UPLOAD_SIZE=52428800

# Server Host & Port
HOST=0.0.0.0
PORT=8000
